@charset "utf-8";
/* CSS Document */

/* About me page///////////////////////////////////////////////////////*/


.flexSection
{
	display: flex; 
	margin-top: 20px;
	margin-left: auto; 
	margin-right: auto; 
	width: 1000px;
	flex-wrap: wrap;
	justify-content: center;
}

.mep
{
	margin: 0; 
	padding: 5px; 
	text-align: justify;
	font-size: 16px;
	/*font-weight: 400;*/
}

.aboutContainer
{ 
	margin-left: auto; 
	margin-right: 5px;
	border: 1px solid #ddd;	
	width: 600px; 
	padding: 20px 20px 20px 20px; /*top right bottom left*/
	background-color: rgba(300, 300, 300, 0.75);
	border-radius: 15px;
	border: 1px solid rgba(2, 196, 187, 1);
}

.aboutText {

}

.meImage {
	border-radius: 10px; 
	width: auto; 
	height: auto;
	/*float: left;
	margin: 0 15px 15px 0;*/
	margin: 20px auto 10px auto;
	display: block;
	
}

.aboutSkills {
	
}

.contactContainer
{ 
	margin-left: 5px; 
	margin-right: auto;
	border: 1px solid #ddd;	
	width: 250px; 
	/*height: 500px;*/
	padding: 10px 10px 20px 10px; /*top right bottom left*/
	background-color: rgba(300, 300, 300, 0.75);
	border-radius: 15px;
	border: 1px solid rgba(2, 196, 187, 1);
}

.skillContainer {
	display: flex; 
	justify-content: space-between;
	margin-top: 10px;
}

.contactLine {
	display: flex;
	margin-bottom: -15px;
}

.skillLine {
	/*display: flex;
	justify-content: space-between;
	width: 170px;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	color: rgba(20, 20, 20, 1);
	
}

.contactIcon {
	width: 35px;
	height: 35px;
	margin: 10px 10px 0 0;
}

.skillIcon {
	width: auto;
	height: 20px;
	margin-left: 5px;
	vertical-align: middle;
	
}

.cv {
	width: 75px; 
	height: 75px; 
	margin: 20px; 
	margin-top: 10px;
}

.skillCategory {
	display: block; 
	margin: auto; 
	width: auto; 
	height: 75px;
}

.skillBox {
	width: 300px; 
	text-align: left;
	/*padding-left:5px;*/
}

@media screen and (min-height: 960px)
{
	footer
	{
		/*margin-top: 50px; */
		position: fixed; 
		bottom: 0px; 
		left: 0; 
		height: 75px; 
		width: 2000px;
		/*background-color: #555;*/
		background-color: rgba(34, 118, 109, 1);
	}
}