@charset "utf-8";
/* CSS Document */

/* About me page///////////////////////////////////////////////////////*/


.flexSection
{
	display: flex; 
	margin-top: 20px;
	padding-bottom: 50px;
	margin-left: auto; 
	margin-right: auto; 
	width: 1000px;
	flex-wrap: wrap;
	justify-content: center;
}

.mep
{
	margin: 0; 
	padding: 5px; 
	text-align: justify;
	font-size: 15px;
	font-weight: 400;
}

.aboutContainer
{ 
	margin-left: auto; 
	margin-right: 5px;
	/*border: 1px solid #ddd;	*/
	width: 600px; 
	/*padding: 20px 20px 20px 20px; /*top right bottom left*/
	background-color: rgba(300, 300, 300, 0.75);
	/*border-radius: 15px;
	border: 1px solid rgba(2, 196, 187, 1);*/
}

.meImage {
	border-radius: 5px; 
	width: 300px; 
	height: 450px;
	/*float: left;
	margin: 0 15px 15px 0;*/
	margin: auto auto 5px auto;
	display: block;
	
}

.smallTitle
{
	font-size: 22px; 
	text-align: left; 
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: rgba(34, 118, 109, 1)
}

.contactContainer
{ 
	margin-left: 5px; 
	margin-right: auto;
	/*border: 1px solid #ddd;	*/
	width: 300px;
	height: auto;
	/*height: 500px;*/
	/*padding: 10px 10px 20px 10px; /*top right bottom left*/
	padding-left:20px;
	padding-bottom: 20px;
	background-color: rgba(300, 300, 300, 0.75);
	/*border-radius: 15px;*/
	border-left: 2px solid rgba(2, 196, 187, 1);
}

.skillContainer {
	display: flex; 
	justify-content: space-between;
	margin-top: 10px;
}

.contactLine {
	display: flex;
	margin-bottom: -30px;
}

.skillLine {
	/*display: flex;
	justify-content: space-between;
	width: 170px;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	color: rgba(20, 20, 20, 1);
	
}

.contactIcon {
	width: 35px;
	height: 35px;
	margin: 10px 10px 0 0;
}

.skillIcon {
	width: auto;
	height: 20px;
	margin-left: 5px;
	vertical-align: middle;
	
}

.cv {
	width: 75px; 
	height: 75px; 
	margin: 20px; 
	margin-top: 10px;
}

.skillCategory {
	display: block; 
	margin: auto; 
	width: auto; 
	height: 75px;
}

.skillBox {
	width: 250px; 
	text-align: left;
	/*padding-left:5px;*/
}

.resumeButton
{
	font-size: 18px;
	color: rgba(100, 100, 100, 1);
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	width: 150px;
	border: 1px solid rgba(177, 218, 212, 1);
	border-radius: 10px;
	background-color: white;
}

@media screen and (min-height: 860px)
{
	footer
	{
		/*margin-top: 50px; */
		position: fixed; 
		bottom: 0px; 
		left: 0; 
		height: 75px; 
		width: 2000px;
		/*background-color: #555;*/
		background-color: rgba(34, 118, 109, 1);
	}
}
