@charset "utf-8";
/* CSS Document */

.introContainer { 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid #ddd;	
	width: 750px; 
	/*height: 500px;*/
	/*padding: 0 10px 20px 10px; /*top right bottom left*/
	background-color: rgba(300, 300, 300, 0.75);
	border-radius: 15px;
}

.intro {
	border-right: 1px solid rgba(1, 120, 119, 1); 
	border-bottom: 1px solid rgba(1, 120, 119, 1);
	width: 650px;  
	/*margin: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;*/
	margin: 10px auto 35px auto;
	border-radius: 15px;
	padding: 5px;
	padding-left: 20px;
	/*Typo*/
	font-size: 22px;
	color: rgba(50, 50, 50, 0.9);
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

@media screen and (min-height: 620px)
{
	footer {
		position: fixed; 
		width: 2000px;
	}
}

@media screen and (max-width:790px)
{
	.introContainer { 	
		width: 300px; 

	}

	.intro {
		width: 250px;  
		margin: 10px auto 15px auto;
		
	}
}