@charset "utf-8";
/* CSS Document */

/* Project page///////////////////////////////////////////////////////*/
.roundFrame 
{
	border-radius: 25px;
	width: 300px;
	height: 200px;
	background-image: url("300x200.png");
	border: 1px solid #ddd;
	position: relative;
	margin-top: 10px;
	margin-left : 5px;
	margin-right: 5px;
	
	position: relative;
    overflow: hidden;
}

.placeHolder 
{
	width: 300px;
	height: 200px;
	margin-top: 10px;
	margin-left : 5px;
	margin-right: 5px;
}

.placeHolder2 /*to keep the two columns*/
{
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-left : 5px;
	margin-right: 5px;
}


.roundFrame:hover 
{
    box-shadow: 0 0 2px 1px /*rgba(50, 50, 50, 0.5);*/rgba(1, 133, 119, 0.75);
}

.projectFrameTitle
{
	background-color: rgba(300, 300, 300, 0.75);
	border-radius: 23px 0 5px 5px; /*top-left top-right bottom-right bottom-left*/
	width: 65%;
	text-align: center;
	/*Typo*/
	font-size: 22px;
	color: rgba(50, 50, 50, 0.9);
	/*font-variant: small-caps;*/
	font-family: 'Dosis', sans-serif;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-decoration: none;
	position: absolute;
	z-index: 10;
}

.projectSoftware
{
	/*float: right;*/
	width:55px;
	position:absolute;
    top:7px;
    right:7px;
}

.flexSection
{
	display: flex; 
	margin-top: -20px;
	margin-left: auto; 
	margin-right: auto; 
	width: 950px; 
	flex-wrap: wrap;
	justify-content: center;
}

.yearContainer
{ 
	margin-left: auto; 
	margin-right: auto; 
	width: 950px; 
	padding: 30px 10px 20px 10px; /*top right bottom left*/
	background-color: rgba(300, 300, 300, 0.75);
	border-radius: 15px;
	border: 1px solid rgba(2, 196, 187, 1);
}

.yearTypo
{
	display: block; 
	font-family: 'Raleway', sans-serif; 
	font-weight: 300; 
	border-bottom: 1px solid #999; 
	font-size: 40px; 
	color: #555;
	border-radius: 0 0 0 25px;
	padding-left: 25px;
	margin-top: 5px;
}

.announce
{
	font-size: 25px;
	color: rgba(30, 30, 30, 1);
	text-align: center;
	/*font-variant: small-caps;*/
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}


.roundFrame:hover .hidden{

    bottom: 0px;
}

.roundFrame .hidden {    
    background: /*rgba(200,200,200, 0.9);*/rgba(177, 218, 212, 0.9);
	margin-left: auto;
	margin-right: auto;
    height: 200px;    
    position: absolute; 
    bottom: -200px;  
    width: auto;
    opacity: 1;    
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}

/*///////////////////////////////////////////////////////////*/

@media screen and (max-width:1030px)
{
	.flexSection
	{
		width: 700px; 
	}
	
	.yearContainer
	{ 
		width: 700px; 
	}
	
	.placeHolder
	{
		display: none;
	}
}

@media screen and (max-width:790px)
{
	.flexSection
	{
		width: 300px; 
	}
	
	.yearContainer
	{ 
		width: 300px; 
	}
	
	.placeHolder
	{
		display: none;
	}
	
	.placeHolder2 
	{
		display: none;
	}
}