@charset "utf-8";
/* CSS Document */

/* Prototype page///////////////////////////////////////////////////////*/
.prototypeContainer
{ 
	margin-left: auto; 
	margin-right: auto;
	width: 800px; 
	margin-top: 75px;
	margin-bottom: 20px;
	/*height: 500px;*/
	padding: 0 20px 20px 10px; /*top right bottom left*/
	background-color: rgba(300, 300, 300, 0.75);
	border-top: 2px solid rgba(2, 196, 187, 1);
}

.prototypeTitle
{
	/*background-color: white; /*rgba(200, 200, 200, 1);*/
	/*border: 1px solid /*#ddd;*/ /*rgba(177, 218, 212, 1);
	/*border-radius: 10px; /*top-left top-right bottom-right bottom-left*/
	max-width: /*40%;*/ 300px;
	text-align: left;
	/*Typo*/
	font-size: 35px;
	color: /*rgba(50, 50, 50, 0.9);*/rgba(2, 159, 138, 1);
	font-variant: small-caps;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	text-decoration: none;
	margin-top: -40px; 
}

.imageContainer {
	max-width: 1000px;
	min-width: 550px;
	min-height: 320px;
	position : relative;
}

.prototypeImage {
	border-radius: 5px; 
	width: 100%; 
	height: auto;
	position: absolute;
	margin-top: 15px;
	top: 50%; /* poussé de la moitié de hauteur du référent */
	transform: translateY(-50%);
}


.prototypeID
{
	width: 350px; 
	max-height: 300px; 
	margin-left: 20px; 
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
}

.prototypeConcept
{  
	margin-top: 5px;
	padding-top: 15px;
	/*Typo*/
	font-size: 5px;
	color: rgba(50, 50, 50, 0.9);
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

.prototypeConceptFull
{
	/*border-right: 1px solid #aaa; 
	border-top: 1px solid #aaa; */
	margin-top: 5px;
	padding: 10px;
	padding-top: -5px;
	/*Typo*/
	font-size: 5px;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

.whatILearned
{
	/*border-right: 1px solid #aaa; 
	border-top: 1px solid #aaa; */
	margin-top: 40px;
	padding-top: -5px;
	/*Typo*/
	font-size: 5px;
	color: rgba(50, 50, 50, 0.9);
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

.prototypeTeam
{
	margin-left: 15px;
	margin-top: 10px;
	padding: 10px;
	padding-top: -5px;
	/*Typo*/
	font-size: 5px;
	color: rgba(50, 50, 50, 0.9);
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

.flex1 {
	margin-top: 10px; padding-left: 15px; display: flex;
}

p.seize 
{
	margin: 0;
	font-size: 15px;
}

p.point 
{
	margin-left: 20px; 
	margin-top :5px;
	margin-bottom: 5px;
	font-size: 16px;
}

/*//////*/
/*@media screen and (min-height: 1100px)
{
	footer
	{
		position: fixed; 
		bottom: 0px; 
		left: 0; 
		height: 75px; 
		width: 2000px;
		/*background-color: #555;
		background-color: rgba(34, 118, 109, 1);
	}
}*/

@media screen and (max-width:640px)
{
	.prototypeContainer
	{ 
		width: 300px; 
		/*height: 500px;*/
		padding: 0 10px 20px 10px; /*top right bottom left*/
	}
	
	.imageContainer 
	{
		max-width: 300px;
		min-width: 250px;
		min-height: 170px;
		margin-bottom: 15px;
	}
	
	.flex1 {
		display: block;
		padding: 0;
	}
	
	.prototypeID
	{ 
		width: auto; 
		height: 300px; 
		margin-left: auto; 
		margin-right: auto;
	}
	
	.prototypeConcept
	{ 
		width: auto;  
		margin-left: auto; 
		margin-right: auto;
	}
	
	.prototypeTeam
	{ 
		width: auto;  
		margin-left: auto; 
		margin-right: auto;
	}
	
	.arrowContainer {
		width: 300px; 
	}
	
	footer
	{
		display:none;
	}
}