@charset "utf-8";
/* CSS Document */

/* Prototype page///////////////////////////////////////////////////////*/
.prototypeContainer
{ 
	margin-left: auto; 
	margin-right: auto;
	border: 1px solid #ddd;	
	width: 800px; 
	/*height: 500px;*/
	padding: 0 20px 20px 10px; /*top right bottom left*/
	background-color: rgba(300, 300, 300, 0.75);
	border-radius: 15px;
	border: 1px solid rgba(2, 196, 187, 1);
}

.prototypeTitle
{
	background-color: white; /*rgba(200, 200, 200, 1);*/
	border: 1px solid /*#ddd;*/ rgba(177, 218, 212, 1);
	border-radius: 10px; /*top-left top-right bottom-right bottom-left*/
	max-width: /*40%;*/ 250px;
	text-align: center;
	/*Typo*/
	font-size: 40px;
	color: /*rgba(50, 50, 50, 0.9);*/rgba(2, 159, 138, 1);
	font-variant: small-caps;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	text-decoration: none;
	margin-top: -25px;
	margin-left: auto; 
	margin-right: auto; 
}

.prototypeImage {
	border-radius: 10px; 
	width: 100%; 
	height: auto;
}

.prototypeID
{
	border-left: 1px solid #aaa; 
	border-bottom: 1px solid #aaa; 
	width: 300px; 
	height: 300px; 
	margin-left: 20px; 
	border-radius: 15px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
}

.prototypePlay
{
	/*border-left: 1px solid #aaa; 
	border-bottom: 1px solid #aaa;  */
	margin-left: 20px; 
	margin-top: 10px;
	border-radius: 15px;
	width: 220px;
	/*display: flex;*/
	/*Typo*/
	font-size: 18px;
	color: rgba(50, 50, 50, 0.9);
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

.playImage
{
	width: 100px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 15px;
}

.prototypeConcept
{
	border-right: 1px solid #aaa; 
	border-top: 1px solid #aaa; 
	width: 500px;  
	margin-top: 10px;
	border-radius: 15px;
	padding: 10px;
	padding-top: -5px;
	/*Typo*/
	font-size: 5px;
	color: rgba(50, 50, 50, 0.9);
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

.prototypeConceptFull
{
	border-right: 1px solid #aaa; 
	border-top: 1px solid #aaa; 
	margin-top: 10px;
	border-radius: 15px;
	padding: 10px;
	padding-top: -5px;
	/*Typo*/
	font-size: 5px;
	color: rgba(50, 50, 50, 0.9);
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

/*/Arrows/*/

.arrowContainer {
	display: flex; 
	margin-left: auto; 
	margin-right: auto; 
	width: 850px; 
	padding-top: 10px;
	padding-bottom: 25px;
}

.leftArrow {
	display: inline-block; 
	width: 50%; 
	padding-left: 20px; 
	font-size: 100px;
	font-family: 'Dosis', sans-serif;
	font-weight: 200; 
	margin: 0; 
	line-height: 30px;
}

.rightArrow {
	display: inline-block; 
	width: 50%; 
	text-align: right; 
	padding-right: 20px; 
	font-size: 100px;
	font-family: 'Dosis', sans-serif;
	font-weight: 200; 
	margin: 0; 
	line-height: 30px;
}

.flex1 {
	margin-top: 10px; padding-left: 15px; display: flex;
}

p.seize 
{
	margin: 0;
	font-size: 16px;
}

p.point 
{
	margin-left: 20px; 
	margin-top :5px;
	margin-bottom: 5px;
	font-size: 16px;
}

/*//////*/
@media screen and (min-height: 1030px)
{
	footer
	{
		/*margin-top: 50px; */
		position: fixed; 
		bottom: 0px; 
		left: 0; 
		height: 75px; 
		width: 2000px;
		/*background-color: #555;*/
		background-color: rgba(34, 118, 109, 1);
	}
}

@media screen and (max-width:790px)
{
	.prototypeContainer
	{ 
		width: 300px; 
		/*height: 500px;*/
		padding: 0 10px 20px 10px; /*top right bottom left*/
	}
	
	.flex1 {
		display: block;
		padding: 0;
	}
	
	.prototypeID
	{ 
		width: auto; 
		height: 300px; 
		margin-left: auto; 
		margin-right: auto;
	}
	
	.prototypeConcept
	{ 
		width: auto;  
		margin-left: auto; 
		margin-right: auto;
	}
	
	.arrowContainer {
		width: 300px; 
	}
}